@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html{
    height: 100%;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(315deg, #ee4444, #e99);
    margin: 0;
    min-height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    
}
#title p{
    margin-top: 0;
}
#title{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color:whitesmoke;
    padding-top: 2%;
}
#app{
    margin-top: 5%;
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5%;
    height: 80%;
}
.main-circle{
    border: 4px #222 solid;
    border-radius: 50%;
    position: relative;
    width: 80%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main-circle:after{
    content: "";
    display: block;
    padding-bottom: 100%;
}
.set-timer{
    text-align: center;
}
.timer-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    

}
.timer-form p{
    margin: 0;
}
.timer-form input[type=tel]{
    background-color: rgba(200,0,0,0.3);
    border: 0;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    width: 60px;
    height: 60px;
    font-size: 30px;
    transition: all 0.4s ease;

}
.timer-form input[type=tel]:hover{
    background-color: rgba(200,0,0,0.4)
}
.timer-form input[type=tel]:focus{
    background-color: rgba(200,0,0,0.6)
}
.timer-form input[type=tel]::placeholder{
    color: #444;
}
.timer-form button, .timer-main button{
    background-color: rgba(200,0,0,0.3);
    border: 0;
    margin-top: 16px;
    border-radius: 4px;
    position: relative;
    width: 80px;
    height: 40px;
    cursor: pointer;
    color: whitesmoke;
}
.timer-form button:hover, .timer-main button:hover{
    background-color: rgba(200,0,0,0.4)
}
.timer-form button:focus, .timer-main button:focus{
    background-color: rgba(200,0,0,0.6)
}
.timer-main p{
    font-size: 30px;
    height: 60px;
    margin: 0;
    text-align: center;
}

.input:focus{
    outline: none;
}